<h1 class="text-center">Patents and Companies in the last decade</h1>
<input type="submit" class="pull-right" id="submit">
<input type="text" placeholder="year" class="pull-right" id="year">
<div class="container">

  <p id ="charts">
  </p>

</div>

